---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  <hr>
  {%- endif -%}

  <!--<h2>The Really Big Index</h2>
  <ul>{% for collection in site.collections %}
    <li>
      <h3>{{ collection.label | upcase | replace: "-", " "}}</h3>
      <ul>{% for doc in collection.docs %}
        <li><a href="{{doc.url}}">{{ doc.title }}</a> - {{ doc.description }}</li>
        {% endfor %}
      </ul>
    </li>
    <hr>
    {% endfor %}
  </ul>
  <hr>-->

  <h2>The Small Index</h2>
  {% for topic in site.topic %}
      <ul>
        <li><a href="{{topic.url}}">{{ topic.title }}</a> - {{ topic.description }}</li>
      </ul>
    <hr>
    {% endfor %}
  <hr>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->
</div>
